*.out
/wandb/
*.tif
*.pkl
.ipynb_checkpoints
__pycache__/
/.vscode
/Data Acquisition/.ipynb_checkpoints
/development
/eodag_workspace_locations_tiles
/.ipynb_checkpoints
/__pycache__
=======
/__pycache__
/RF_model/models
